<div class="title_search">
  <h1 class="col-lg-12" id="title">Instagram Feed</h1>

  <div class="col-lg-12" >
    <div class="input-group" id="search">
      <input type="text" id="search-input" class="form-control" placeholder="InstaTag">
      <span class="input-group-btn">
        <button class="btn btn-success" type="submit">Search</button>
      </span>
    </div>
  </div>
</div>


<div class="row list-group">
  <ul class="photos col-lg-10">
    <img src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e15/11410360_782229615208988_328824651_n.jpg">
  </ul>
  <ul class="attributes col-lg-2">
    <li>Gender: Female </li>
    <li>Race: White</li>
    <li>Smiling?: :)</li>
    <li>Age: Between 8 and 17 </li>
    <li>Glasses: Nope</li>
  </ul>
</div>

